<div class="title">
  <h3>Todo App</h3>
</div>
<div class="input">
  <input
    [(ngModel)]="addTodoForm.name"
    placeholder="task name here"
    type="text"
    name="task_name"
  />
  <button (click)="createTodo()">add</button>
</div>
<div class="task_list">
  <div
    *ngFor="let todo of todoService.todoList"
    class="{{ todo.isEditing ? 'task editing' : 'task' }}"
    id="task_{{ todo._id }}"
  >
    <div class="todoCheckbox">
      <input (click)="doneTodo(todo)" type="checkbox" [checked]="todo.isDone" />
    </div>
    <div
      *ngIf="!todo.isEditing"
      [ngClass]="todo.isDone ? 'task_name text-line-through' : 'task_name'"
    >
      {{ todo.name }}
    </div>
    <input
      *ngIf="todo.isEditing"
      [(ngModel)]="renameTodoForm.newName"
      type="text"
      value="{{ todo.name }}"
    />
    <div class="icons">
      <img
        [ngClass]="todo.isDone ? 'task_big' : 'task_small'"
        *ngIf="!todo.isEditing && !todo.isDone"
        (click)="todoEditorOpen(todo._id)"
        src="assets/svg/edit.svg"
      />
      <img
        [ngClass]="todo.isDone ? 'task_big' : 'task_small'"
        *ngIf="todo.isEditing"
        (click)="todoEditorClose(todo._id)"
        src="assets/svg/cancel.svg"
      />
      <img
        [ngClass]="todo.isDone ? 'task_big' : 'task_small'"
        *ngIf="todo.isEditing"
        (click)="renameTodo(todo)"
        src="assets/svg/done.svg"
      />
      <img
        [ngClass]="todo.isDone ? 'task_big' : 'task_small'"
        *ngIf="!todo.isEditing"
        (click)="deleteTodo(todo._id)"
        src="assets/svg/delete.svg"
      />
    </div>
  </div>
</div>
