.main {
  background: linear-gradient(135deg, rgb(129, 231, 214) 30%, rgb(128, 0, 255));
  display: flex;

  margin-top: 10%;
  margin-bottom: 5%;

  border-radius: 20px;
  color: white;

  width: 35vw;
  height: 80vh;

  align-items: center;
  flex-direction: column;

  overflow: visible auto;
}

