<div class="main">
  <div class="title">
    <h3>Todo App</h3>
  </div>
  <form>
    <div class="input">
      <input
        [(ngModel)]="addTodoForm.taskName"
        placeholder="task name here"
        type="text"
        name="task_name"
      />
      <button (click)="printForm()">add</button>
    </div>
  </form>
  <div class="task_list">
    <div *ngFor="let item of allTasks" class="task">
      <div class="task_name">{{ item.taskName }}</div>
      <div class="icons">
        <img src="../assets/svg/edit.svg" alt="" />
        <img src="../assets/svg/delete.svg" alt="" />
      </div>
    </div>
  </div>
</div>
