.main {
  display: flex;

  margin-top: 15%;

  border-radius: 20px;

  background: linear-gradient(135deg, lightblue 30%, pink);
  color: white;

  width: 35vw;
  height: 80vh;

  align-items: center;
  flex-direction: column;

  overflow: visible auto;
}

@media screen and (max-width: 820px) {
  .main {
    width: 70vw;
  }
}

@media screen and (max-width: 400px) {
  .main {
    width: 90vw;
    height: 80vh;
  }
}
