/* You can add global styles to this file, and also import other style files */
:root {
  --dark-color: #1d1d1d;
  --dark-color-min-transparent: #1d1d1d85;
  --dark-color-max-transparent: #1d1d1d01;
}

body {
  padding: 0;
  margin: 0;

  background-color: var(--dark-color);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
